Requirements for login form testing


http://itcareer.pythonanywhere.com/


General:
1. Все поля заполняются только на латинице.
2. Поля Name, Email, Password обязательны для заполнения.
3. Все плейсхолдеры с точкой в конце.
4. Работает вставка Ctrl+V.
5. При введении большого количества символов поля не должны растягиваться.
6. При некорректном заполнении поле подсвечивается красным (рамка) и высвечивается сообщение, в каком поле ошибка.
7. Навигация по полям с помощью Tab.
8. Нет функционала для людей с ограниченными возможностями.
9. Проверка только desktop-версии.
10. Корректная работа в Google Chrome, Safari и Firefox.


Name: 
1. Допустимы символы верхнего и нижнего регистра.
2. Допустимые спецсимволы: точка, тире, нижнее подчеркивание.
3. Допустимы пробелы.
4. Максимальное количество символов - 128, минимальное - 1.
5. Недопустимо использование цифр.


Surname:
1. Необязательное поле.
2. Допустимы символы верхнего и нижнего регистра.
3. Допустимые спецсимволы: точка, тире, нижнее подчеркивание.
4. Допустимы пробелы.
5. Максимальное количество символов - 128, минимальное - 0.
6. Недопустимо использование цифр.


Email:
1. Максимальное количество символов - 128, минимальное - 16.
2. Допустимы цифры.
3. Недопустимы пробелы.
4. “@” (только одна) и “.” обязательны.
5. Количество символов до “@” - от 5 до 32.
6. До “@” допустимы точка, тире, нижнее подчеркивание.
7. Количество символов от “@” до “.” - от 2 до 16.
8. От “@” до “.” из спецсимволов допустимы тире и точка.
9. Количество символов после “.” - от 2 до 5.
10. Спецсимволы после “.” недопустимы.
11. Отсутствует регистрозависимость.
12. Поддержка всех почтовых сервисов.


Password:
1. Обязательны хотя бы один символ и верхнего, и нижнего регистра.
2. Максимальное количество символов - 32, минимальное - 5.
3. Не менее одной цифры.
4. Обязателен хотя бы один спецсимвол, кроме пробела.
5. После ввода символы становятся точками.
6. Show password отсутствует.